body {
    background-color: #081A30; /* Dark blue background */
    color: #ffffff; /* White text */
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2b5876; /* Lighter dark blue for the container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4c51bf; /* Button color */
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5a67d8; /* Lighter button color on hover */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #081A30; /* UPI item background color */
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  li button {
    background-color: #e53e3e; /* Delete button color */
  }
  
  li button:hover {
    background-color: #c53030; /* Lighter delete button color on hover */
  }
  
  .loading {
    text-align: center;
    font-size: 18px;
  }
  